@import 'colors';
@import 'utils';

#rooms-list-container {
  flex-grow: 1;
  background-color: #f3f3f3;

  .rooms-list-item {
    background-color: $light_blue;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    color: white;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      flex-grow: 0;
      margin: 15px;
    }

    div {
      display: block;

      h4 {
        font-size: 14px;
        margin-top: 10px;
        padding: 5px;
      }

      p {
        font-size: 12px;
        padding: 5px;
      }

      .small-date {
        font-size: 12px;
        padding-bottom: 10px;
      }
    }
  }

  .rooms-list-item:hover {
    opacity: 0.8;
  }

  .unread {
    background-color: $light_grey;
  }
}

.fadeIn {
  animation: fadeIn 0.5s forwards linear;
}