@import 'colors';
@import 'utils';

#container {
  flex-grow: 1;
  background-color: white;
  border-right: 3px solid #d5d5d5;

  .itemSelected {
    opacity: 0.8;
  }

  .item {
    background-color: $blue;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    color: white;

    .msgContent {
      flex-grow: 1;
    }

    .imgThumbnail {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;

      img {
        height: 50px;
        width: 50px;
        border-radius: 50px;
        flex-grow: 0;
        margin: 15px;
      }
    }

    .numMsgNotRead {
      flex-grow: 0;
      padding: 10px;

      p {
        background-color: $grey;
        color: white;
        border-radius: 5px;
      }
    }

    h4 {
      font-size: 14px;
      margin-top: 10px;
      padding: 5px;
    }

    p {
      font-size: 12px;
      padding: 5px;
    }

    .smallDate {
      font-size: 12px;
      padding-bottom: 10px;
      text-align: right;
      padding-right: 15px;
    }
  }

  .rooms-list-item:hover {
    opacity: 0.8;
  }

  .unread {
    background-color: $blue;
  }

  .read {
    background-color: $light_grey;
    color: $black;
  }
}

.fadeIn {
  animation: fadeIn 0.5s forwards linear;
}