@import 'colors';
@import 'svg';
@import 'utils';

#container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 0;

  input {
    border: 1px solid #ced4da;
    border-radius: 1.5rem;
    padding: 10px;
    font-size: 20xpx;
    font-family: inherits;
    margin: 15px;
    width: 350px;
  }

  input:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
  }
}

.rotating {
  animation: rotation 0.3s infinite linear;
}