@import 'colors';

#container {
  background-color: $blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;

  a {
    color: white;
    font-size: 15px;
    margin-right: 10px;
    margin-left: 10px;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}