@import 'colors';

    #placeInput {
      position: relative;
      width: 100%;
      display: flex;

      input {
        flex-grow: 1;
      }
    }

    #searchButton {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      a {
        color: $blue;
        font-size: 15px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      #searchSvg {
          height: 18px;
        }

        p {
          margin-left: 15px;
        }

      }
    

  .flexRow {
    display: flex;
    justify-content: space-between;

    p {
      display: flex;
      align-items: center;
      font-size: 15px;
    }

    input {
      width: 80px;
      background-position: 10px 11px;
      background-size: auto 15px;
    }
  }
