@import 'colors';
@import 'utils';

#container {

  #topContainer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #searchTags {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .tag {
        background-color: $blue;
        border-radius: 2px;
        padding: 5px;
        font-size: 15px;
        color: white;
        margin-left: 15px;
      }

      h3 {
        font-size: 20px;
        margin-left: 100px;
        color: $black;
        font-family: 'Open Sans Light', Arial;
      }
    }
  }

  #list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;

    #loadingList {
      position: absolute;
      z-index: 60;
      width: 70px;
      animation: rotation infinite linear 1s;
      margin-top: 50px;
    }
  }
}