@import 'utils';

.container {
  width: 400px;
  height: 450px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

  .description {
    padding: 20px;
    display: flex;
    flex-direction: column;

    div {
      margin-bottom: 20px;
    }
  }

  .placeholder {
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;

    animation: shimmer infinite linear 1s;
  }
}