$black: #3a3a3a;

* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $black;
}

p {
  font-family: "Open Sans", Verdana, Arial, Helvetica, sans-serif;
}