@keyframes collapse {
  to {
    margin-left: -355px;
  }
}

@keyframes expand {
  to {
    margin-left: 0px;
  }
}

@mixin no-user-select() {
  -webkit-user-select: none;     
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}