@import 'colors';

#container {
  background-color: $red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: white;
    width: 60%;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  p {
    color: white;
    width: 60%;
    text-align: center;
    margin-bottom: 35px;
  }
}