@import 'colors';
@import 'animations';

#container {
  background-color: $red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding-bottom: 50px;
  width: 100vw;

  h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 35px;
    margin-bottom: 35px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .border {
      animation: widthIn 0.2s forwards ease-in-out;
      height: 5px;
      background-color: white;
      margin-top: 15px;
      width: 50%;
    }
  }

  #leftAndRight {
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    #left, #right {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      @media (max-width: 768px) {
        width: unset;
        align-items: center;
      }
    }

    #left {
      text-align: right;
      padding-left: 50px;
      padding-right: 20px;

      @media (max-width: 768px) {
        padding: 40px;
      }

      h3 {
        font-size: 35px;
        margin-bottom: 30px;

        @media (max-width: 768px) {
          text-align: center;
        }
      }

      p {
        font-size: 20px;
        font-family: 'Open Sans Light';

        @media (max-width: 768px) {
          text-align: center;
        }
      }

      button {
        border: 3px solid white;
        border-radius: 15px;
        padding: 20px;
        font-size: 20px;
        cursor: pointer;
        background-color: transparent;
        transition: all 0.1s linear;
        color: white;
        margin-top: 40px;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
          transform: scale(1.02);
        }

        #github {
          width: 35px;
          vertical-align: middle;
          margin-right: 25px;
        }
      }
    }

    #right {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      padding-left: 20px;
      padding-right: 50px;;
    }
  }

  /* SKILL COMPONENT */
  .skillContainer {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: all 0.2s ease-in-out;

    .skillName {
      flex-grow: 0;
      width: 200px;
      font-size: 18px;
      background-color: white;
      color: $red;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .skillBar {
      flex-grow: 1;
      width: 100%;
      height: 100%;
      background-color: tomato;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        flex-grow: 0;
        background-color: unset;
        color: white;
        float: right;
        padding: 10px;
        font-size: 15px;
      }

      .skillBarFill {
        background-color: bisque;
        height: 100%;
      }
    }
  }
}