@import 'colors';
@import 'animations';

/*
@keyframes BgAnimation {
  0% {
    opacity: 1;
    -webkit-clip-path: polygon(0 100%, 0 55%, 24% 38%, 33% 44%, 51% 50%, 69% 38%, 84% 40%, 93% 51%, 100% 59%, 100% 100%);
    clip-path: polygon(0 100%, 0 55%, 24% 38%, 33% 44%, 51% 50%, 69% 38%, 84% 40%, 93% 51%, 100% 59%, 100% 100%);
  } 20% {
    opacity: 1;
    -webkit-clip-path: polygon(0 100%, 0 63%, 20% 54%, 38% 41%, 59% 54%, 67% 45%, 76% 54%, 83% 65%, 100% 68%, 100% 100%);
    clip-path: polygon(0 100%, 0 63%, 20% 54%, 38% 41%, 59% 54%, 67% 45%, 76% 54%, 83% 65%, 100% 68%, 100% 100%);
  } 40% {
    -webkit-clip-path: polygon(0 100%, 0 74%, 7% 55%, 26% 43%, 50% 57%, 54% 54%, 86% 45%, 94% 57%, 100% 53%, 100% 100%);
    clip-path: polygon(0 100%, 0 74%, 7% 55%, 26% 43%, 50% 57%, 54% 54%, 86% 45%, 94% 57%, 100% 53%, 100% 100%);
  } 60% {
    -webkit-clip-path: polygon(0 100%, 0 34%, 8% 43%, 34% 63%, 54% 70%, 62% 57%, 82% 56%, 92% 69%, 100% 75%, 100% 100%);
    clip-path: polygon(0 100%, 0 34%, 8% 43%, 34% 63%, 54% 70%, 62% 57%, 82% 56%, 92% 69%, 100% 75%, 100% 100%);
  } 80% {
    -webkit-clip-path: polygon(0 100%, 0 34%, 23% 39%, 47% 52%, 56% 50%, 71% 66%, 82% 56%, 93% 47%, 100% 34%, 100% 100%);
    clip-path: polygon(0 100%, 0 34%, 23% 39%, 47% 52%, 56% 50%, 71% 66%, 82% 56%, 93% 47%, 100% 34%, 100% 100%);
  } 100% {
    opacity: 1;
    -webkit-clip-path: polygon(0 100%, 0 55%, 24% 38%, 33% 44%, 51% 50%, 69% 38%, 84% 40%, 93% 51%, 100% 59%, 100% 100%);
    clip-path: polygon(0 100%, 0 55%, 24% 38%, 33% 44%, 51% 50%, 69% 38%, 84% 40%, 93% 51%, 100% 59%, 100% 100%);
  }
}*/

@keyframes fadeDownBubbly {
  0% {
    transform:translate3d(0,-200px,0);
    opacity: 0;
  } 75% {
    transform:translate3d(0,20px,0);
    opacity: 1;
  } 100% {
    transform:translate3d(0,0,0);
    opacity: 1;
  }
}

[data-aos="fade-down-bubbly"] {
  opacity: 0;
  transform:translate3d(0,-200px,0);

  &.animate-aos {
    transform:translate3d(0,0px,0);
  }
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
/*
  .bgAnimation {
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
    background-color: rgba(255, 0, 0, 0.05);
    -webkit-clip-path: polygon(0 100%, 0 55%, 24% 38%, 33% 44%, 51% 50%, 69% 38%, 84% 40%, 93% 51%, 100% 59%, 100% 100%);
    clip-path: polygon(0 100%, 0 55%, 24% 38%, 33% 44%, 51% 50%, 69% 38%, 84% 40%, 93% 51%, 100% 59%, 100% 100%);
    animation: BgAnimation 15s ease-in-out infinite;
  }*/

  #title {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    h1, h2 {
      text-align: center;
      background-color: white;
      color: $black;
      padding-left: 20px;
      padding-right: 20px;
    }

    h1 {
      font-size: 50px;
    }

    h2 {
      font-family: 'Open Sans Light', Arial, sans-serif;
      font-size: 20px;
    }
  }

  #graph {
    width: 40vw;
    min-width: 300px;
    transform-origin: 50% 100%;
  }
}