#presentation-container {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;

  #presentation-header {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    #logo {
      transition: all 0.2s ease;
      width: 70px;
      margin-left: 100px;
      cursor: pointer;
    }

    #logo:hover {
      opacity: 0.8;
    }

    #presentation-lang-container {
      margin-right: 100px;
      display: flex;
      flex-direction: row;

      .presentation-lang-item {
        margin-left: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom: 3px solid transparent;
        font-family: Arial;
        cursor: pointer;
      }

      .selectedLang {
        color: #e5424a;
        border-bottom: 3px solid #e5424a;
      }

      .presentation-lang-item:first-child {
        margin-left: 0;
      }
    }
  }

  #presentation-body {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #presentation-title {
      flex-grow: 0;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        font-family: Arial;
        font-size: 50px;
        color: #3a3a3a;
      }

      h2 {
        font-family: Arial;
        color: #3a3a3a;
      }
    }

    #presentation-projects {
      flex-grow: 1;
      margin-top: 70px;
      margin-bottom: 100px;
      width: 768px;
      height: 200px;
      position: relative;
      border-top: 3px dashed #e5424a;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      #graph {
        height: 60%;
        margin-top: 50px;
        margin-bottom: 30px;
        stroke-dasharray: 2000;
        stroke-dashoffset: 2000;
        animation: trimPath 5s forwards ease-in-out;
      }

      #presentation-logos-container {
        background-color: white;
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 50px;
        position: absolute;
        top: -50px;

        .presentation-logo-item {
          width: 50px;
          background-color: white;
          padding-right: 10px;
          padding-left: 10px;
          margin-right: 22px;

        }

        .tool-tip {
          position: relative;
          cursor: pointer;

          .tool-tip-text {
            transition: all 0.1s linear;
            position: absolute;
            bottom: -40px;
            background-color: #3a3a3a;
            color: white;
            padding: 5px;
            text-align: center;
            width: 60px;
            opacity: 0;
          }
        }

        .tool-tip:hover .tool-tip-text {
          opacity: 1;
        }

        .presentation-logo-item:last-child {
          margin-right: 0; 
        }
      }

      button {
        margin-top: 50px;
        font-size: 35px;
        font-family: Arial;
        color: #e5424a;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border: 2px solid #e5424a;
        border-radius: 10px;
        position: absolute;
        z-index: 50;
        background-color: white;
        bottom: -30px;
        cursor: pointer;
        animation: gradient 2s infinite linear;
      }

      button::-moz-focus-inner {
        border: 0;
      }

      button:hover {
        color: white;
        background-color: #e5424a;
      }
    }
  }
}