@import 'colors';
@import 'animations';

#container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  #title {
    flex-grow: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;

    h1 {
      font-family: Arial;
      font-size: 50px;
      color: $black;
    }

    h2 {
      font-family: Arial;
      color: $black;
    }
  }

  #graph {
    width: 600px;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: trimPath 5s forwards ease-in-out;
  }
}