@import 'colors';
@import 'utils';

#project-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;

  #project-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 42;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #project-controls {
    position: absolute;
    z-index: 43;
    width: 400px;
    height: 400px;
    top: 500px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;

    #project-controls-hide {
      flex-grow: 0;
      height: 40px;
      width: 100%;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      #hide-logo {
        width: 25px;
        cursor: pointer;
        margin-right: 10px;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    #project-controls-title {
      flex-grow: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 20px;

      .arrow-img {
        width: 20px;
        flex-grow: 0;
        padding-right: 10px;
        padding-left: 10px;
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }

      h1 {
        font-family: Arial;
        color: $black;
        font-size: 25px;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
      }

      h3 {
        font-family: Arial;
        color: #8a8a8a;
        font-size: 15px;
        text-align: center;
        margin-top: 10px;
      }
    }

    #project-controls-description {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      width: 100%;

      p {
        margin-left: 50px;
        margin-right: 50px;
        font-family: 'Open Sans';
        color: #8a8a8a;
        font-size: 14px;
      }
    }
  }

  #project-panel {
    width: 100%;
    height: 100%;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.menuCollapse {
  animation: collapse 0.5s forwards ease-in-out;
}

.menuExpand {
  animation: expand 0.5s forwards ease-in-out;
}