@import 'colors';
@import 'utils';

#container {
  position: sticky;
  top: 30px;
  width: 350px;
  padding: 10px;
  border: 1px solid #e3e3e3;
  margin: 30px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #e3e3e3;
  min-height: 400px;

  #list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    p {
      color: grey;
      font-size: 14px;
    }

    ul {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  button {
    background-color: $green;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 2px;
    padding:10px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    #cartSvg {
      height: 20px;
      margin-right: 10px;
    }

    &:hover {
      opacity: 0.8;
    }

    &[disabled] {
      background-color: $dark_grey;
      opacity: 0.5;
    }
  }

  ul {
    flex-grow: 1;

    li {
      padding: 10px;
      padding-left: 5px;
      display: flex;

      .itemName {
        flex-grow: 1;
        font-size: 14px;
        color: $dark_grey_2;
        margin-left: 10px;
      }

      .itemPrice {
        color: $orange;
        font-size: 14px;
      }

      .itemQuantity {
        color: $black;
        font-size: 14px;

        .quantity {
          background-color: $orange;
          color: white;
          padding: 3px;
        }
      }

      .itemOperation {
        padding: 4px;
        margin: 4px;
        flex-grow: 1;
        cursor: pointer;
        color: $black;
        font-size: 14px;
        @include no-user-select();

        &:hover {
          color: white;
          background-color: $green;
        }
      }
    }
  }

  h3 {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-bottom: 20px;
    color: $black;
  }
}