@import 'colors';

#container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 9000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .boxFinished {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #box {
    width: 70vw;
    min-width: 700px;
    max-width: 1024px;
    height: 50vw;
    max-height: 80vh;
    background-color: $grey;
    border-radius: 2px;
    display: flex;
    flex-direction: row;

    input {
      background-color: white;
      border: none;
      border-bottom: 3px solid $orange;
      padding: 6px;
      font-size: 18px;
      border-radius: 2px;
      color: #e68a00;
      margin-bottom: 10px;
      margin-top: 10px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }

    button {
      background-color: $green;
      padding: 7px;
      color: white;
      border-radius: 2px;
      font-size: 20px;
      border: none;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
      margin-top: 50px;

      &:hover {
        opacity: 0.8;
      }
    }

    #left {
      flex-grow: 1;
      padding: 20px;
      overflow: auto;

      h3 {
        margin: 20px;
        display: inline-block;
        color: white;
        background-color: $orange;
        padding: 15px;
        padding-left: 30px;
        font-size: 20px;
        margin-left: -20px;
        border-radius: 0 5px 5px 0;
      }

      #steps {
        border: 2px solid $green;
        border-radius: 5px;
        margin-left: 80px;
        margin-right: 80px;
        margin-top: 50px;

        ul {
          display: flex;
          justify-content: center;

          li {
            margin: 10px;
            list-style: none;
            padding: 5px;
            color: $dark_grey;
          }

          .selected {
            color: $green;
          }
        }
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
      }
    }

    #right {
      flex-grow: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}