@import 'colors';
@import 'utils';

.container {
  width: 300px;
  height: 300px;
  margin: 20px;
  overflow: hidden;
  cursor: pointer;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #e3e3e3;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
  position: relative;

  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    opacity: 1;
  }

  &:hover img {
    transform: scale(1.1);
  }

  .overlay {
    position: absolute;
    z-index: 42;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;

    .loadingSvg {
      width: 25px;
      height: 25px;
      animation: rotation 1s infinite linear;
    }
  }

  .imgContainer {
    flex-grow: 0;
    width: 100%;
    height: 250px;
    overflow: hidden;

     img {
      width: 100%;
      transition: all 0.2s ease-in-out;
     }
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    h3 {
      color: $black;
      font-size: 18px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .tags {
        margin-left: 15px;
      }

      .rating {
        color: $green;
        margin-right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        .ratingSvg {
          height: 15px;
          margin-right: 5px;
        }
      }
    }

    h5 {
      color: $dark_grey;
    }
  }
}